---
permalink: /sitemap.xml
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.baseUrl }}/</loc>
  </url>
  <url>
    <loc>{{ site.baseUrl }}/blog/</loc>
  </url>
  {% for build in build_sizes %}
  <url>
    <loc>{{ site.baseUrl }}/builds/{{ build.slug }}/</loc>
  </url>
  {% endfor %}
  {% for post in collections.blog %}
  <url>
    <loc>{{ site.baseUrl }}{{ post.url }}</loc>
  </url>
  {% endfor %}
</urlset>
